extends index

block page_content
	div.well
		h1 Oops
		p Looks like the page you're looking for does not exist.

		hr 

		h3 Troubleshooting
		ul
			li If you spelled the URL manually, double check the spelling
			li Go to our website’s home page, and navigate to the content in question
